{% extends '/admin/layout.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12 m-auto">
      <div class="container ">
      <form action="/Search_branch_Pyment" method="post">
        <label for="" class="font-weight-bold">Branch </label>
        <select class="form-select " aria-label="Default select example" name="branch">
          <option value="Valanchery">Valanchery</option>
          <option value="Ramanatukara">Ramanatukara</option>
          <option value="Perinthalmanna">Perinthalmanna</option>
          <option value="Pattambi">Pattambi</option>
        </select>
        <button type="submit" class="btn  btn-primary  "> <span style="color: white;">Search </span></button>
        <a href="" class="btn btn-primary float-right"> Accept List</a>


      </form>
      <table class="table mt-5">
        <tr>
            <th scope="col" style="color: #632343;">Date </th>
          <th scope="col" style="color: #632343;">Employee Name </th>
          <th scope="col" style="color: #632343;">E-Code</th>
          <th scope="col" style="color: #632343;">Branch </th>
          <th scope="col" style="color: #632343;">Catogary</th>
          <th scope="col" style="color: #632343;">Payment </th>
        </tr>
        {% for i in val%}
        <tr>
            <td>{{i[10]}}</td>
          <td>{{i[1]}}</td>
          <td>{{i[2]}}</td>
          <td>{{i[3]}}</td>
          <td>{{i[6]}}</td>
          <td>{{i[7]}}</td>
          <!-- <td><a href="" class="btn btn-primary  ">Generate PDF</a></td> -->

        </tr>
        {% endfor %}
      </table>
    </div>

    {% endblock %}