{% extends '/maneger/layout.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12 m-auto">
      <div class="container ">
    <form id="form1" name="form1" method="post" action="/GetEditBranchEmployeePymentPage">

    
                    <h2 class="text-center font-weight-bold " style="color: #632343;"> Edit Pyment</h2>
                    <div class="form-group">
                        <br><br><br>
                        <input type="number" class="form-control" name="number"  value="{{val[2]}}">
                    </div>


                    <button type="submit" class="btn float-right" style="background-color:#632343;"> <span
                            style="color: white;">Set </span></button>
    </form>
    </div>
    </div>
    </form>

    {% endblock %}