{% extends '/admin/layout.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6 m-auto">
      <div class="container ">
    <form id="form1" name="form1" method="post" action="/GetEditBranchEmployeePymentPage">
                    <div class="form-group mt-5">

                        <input type="number" class="form-control" required name="number"  value="{{val[2]}}">
                    </div>


                    <button type="submit" class="btn float-right" style="background-color:#632343;"> <span
                            style="color: white;">Set </span></button>
    </form>
    </div>
    </div>
    </form>

    {% endblock %}