{% extends '/admin/layout.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12 m-auto">
      <div class="container ">
      <form action="/Search_branch_Pyment" method="post">
        <label for="" class="font-weight-bold">Department &nbsp </label>
        <select class="form-select " aria-label="Default select example" name="department">
          <option value="Sales">&nbsp;Sales</option>
          <option value="abc">&nbsp;abc</option>
        </select>&nbsp;
        <button type="submit" class="btn  btn-primary  "> <span style="color: white;">Search </span></button>
        <a href="/accept_list" class="btn btn-primary float-right"> Accept List</a>

      </form>
      <table class="table mt-5">
        <tr>
          <th scope="col" style="color: #632343;">Date </th>
          <th scope="col" style="color: #632343;">Employee Name </th>
          <th scope="col" style="color: #632343;">E-Code</th>
          <th scope="col" style="color: #632343;">Branch </th>
          <th scope="col" style="color: #632343;">Department </th>
          <th scope="col" style="color: #632343;">Category</th>
          <th scope="col" style="color: #632343;">Payment </th>
        </tr>
        {% for i in val%}
        <tr>
          <td>{{i[11]}}</td>
          <td>{{i[1]}}</td>
          <td>{{i[2]}}</td>
          <td>{{i[3]}}</td>
          <td>{{i[5]}}</td>
          <td>{{i[7]}}</td>
          <td>₹ {{i[8]}}</td>
          <td>&nbsp; <a href="/EditBranchEmployeePymentPage?id={{i[6]}}" class="btn btn-primary  ">Edit Payment</a>
          </td>
          <td>&nbsp; <a href="/AcceptBranchEmployeePymentPage?id={{i[6]}}" class="btn  "
              style="background-color:#632343;"> <span style="color: white;"> Accept </span></button>
          </td>
          <td>&nbsp; <a href="/rejectBranchEmployeePymentPage?id={{i[6]}}" class="btn btn-danger ">Reject</a>
          </td>

        </tr>
        {% endfor %}
      </table>
    </div>

    {% endblock %}