{% extends '/admin/layout.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12 m-auto">
      <div class="container ">
      <h3 class="text-center  font-weight-bold" style="color: #632343;">pyment request</h3>

      <table class="table mt-5">
        <tr>
          <th scope="col" style="color: #632343;">Employee Name </th>
          <th scope="col" style="color: #632343;">E-code</th>
          <th scope="col" style="color: #632343;">Branch </th>
          <th scope="col" style="color: #632343;">Catogary</th>
          <th scope="col" style="color: #632343;">Pyment </th>
        </tr>
        {% for i in val%}
        <tr>
          <td>{{i[1]}}</td>
          <td>{{i[2]}}</td>
          <td>{{i[3]}}</td>
          <td>{{i[6]}}</td>
          <td>{{i[7]}}</td>
          <td>&nbsp; <a href="/EditBranchEmployeePymentPage?id={{i[5]}}" class="btn btn-primary  ">Edit Pyment</a>
          </td>
          <td>&nbsp; <a href="/AcceptBranchEmployeePymentPage?id={{i[5]}}" class="btn  "
              style="background-color:#632343;"> <span style="color: white;"> accept </span></button>
          </td>
          <td>&nbsp; <a href="/rejectBranchEmployeePymentPage?id={{i[5]}}" class="btn btn-danger ">reject</a>
          </td>

        </tr>
        {% endfor %}
      </table>
    </div>

    {% endblock %}