{% extends '/admin/layout.html' %}

{% block content %}

<div class="row">
  <div class="col-md-12 m-auto">
    <div class="container pt-3">

      <div class="row">

        <div class="col-md-6">
          <form action="/Search_branch_Leave_accepted" method="post">
            <label for="" class="font-weight-bold">Department &nbsp </label>
            <select class="form-select " aria-label="Default select example" name="department">

              <option value="ACC">&nbsp;Accounts</option>
              <option value="PUR">&nbsp;Purchase</option>
              <option value="CSH">&nbsp;Cashier</option>
              <option value="SAL">&nbsp;Salesman</option>
              <option value="MKT">&nbsp;Marketing</option>
              <option value="DSNR">&nbsp;Disigner</option>
              <option value="REC">&nbsp;Reception</option>
              <option value="OBY">&nbsp;Office Boy</option>
              <option value="SMT">&nbsp;Smith</option>
              <option value="CLN">&nbsp;Cleaning</option>

            </select>&nbsp;
            <button type="submit" class="btn  btn-primary  "> <span style="color: white;">Search </span></button>
          </form>
        </div>

        <div class="col-md-6">
          <form action="/datefilter" method="post">
            <label for="" class="font-weight-bold">Leave Date &nbsp </label>
            <input type="date" name="date"></input>
            <button type="submit" class="btn  btn-primary  "> <span style="color: white;">Search </span></button>
          </form>
        </div>

      </div>



      <table class="table mt-5">
        <tr class="fixed">
          <th scope="col" >Date</th>
          <th scope="col" >Employee Name </th>
          <th scope="col" >E-Code</th>
          <th scope="col" >Branch</th>
          <th scope="col" >Department</th>
          <th scope="col" >Reason</th>
          <th scope="col" >Leave Date</th>
          <th scope="col" >Leave Expiry Date</th>
          <th></th>
        </tr>
        {% for i in val%}
        <tr>
          <td>{{i[12]}}</td>
          <td>{{i[1]}}</td>
          <td>{{i[2]}}</td>
          <td>{{i[3]}}</td>
          <td>{{i[5]}}</td>
          <td>{{i[7]}}</td>
          <td>{{i[10]}}</td>
          <td>{{i[11]}}</td>
             <td>
            <a href="/rejectReaqusetEmployee?id={{i[6]}}" onclick="return confirm('Are you sure?') "
              class="btn btn-danger">Reject</a>

          </td>
        </tr>
        {% endfor %}
      </table>
    </div>

  </div>
</div>
{% endblock %}