{% extends '/admin/layout.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-12 m-auto">
      <div class="container ">
  <form id="form1" name="form1" method="post" action="/GetAchiveEmployeestarget">
          <h2 class="text-center font-weight-bold pt-4" style="color: #632343;">Achive {{val[1]}} Target</h2>
          <div class="form-group">
            <br><br><br>
            <input type="number" class="form-control" name="number" value="{{val[8]}}">
          </div>


          <button type="submit" class="btn float-right" style="background-color:#632343;"> <span
              style="color: white;">Set </span></button>
  </form>
  </div>
  </div>
  </form>

  {% endblock %}