{% extends '/admin/admins.html' %}

{% block content %}
  <form id="form1" name="form1" method="post" action="/GetaddEmployee">

    <div class="row">
      <div class="col-md-6 m-auto">
        <div class="container mt-5 pt-5">
          <h2 class="text-center font-weight-bold pt-4 style="color: #632343;">Add Employee</h2>
          <div class="form-group">
            <label for="" class="font-weight-bold" style="color: #632343;">employee name</label>
            <input type="text" class="form-control" name="ename" required id="" aria-describedby="emailHelp"
              placeholder="Enter name">
          </div>



          <div class="form-group">
            <label for="" class="font-weight-bold" style="color: #632343;">e-code</label>
            <input type="text" class="form-control" name="ecode" required id="" placeholder="ecode">
          </div>

          <label for="" class="font-weight-bold" style="color: #632343;">Branch</label>
          <select class="form-select" aria-label="Default select example" name="branch">
            <option value="malapuram">malapuram</option>
            <option value="calicate">calicate</option>
            <option value="kochi">kochi</option>
          </select>

          <button type="submit" class="btn  float-right" style="background-color:#632343;"> <span
              style="color: white;">Add Employee</span></button>
  </form>
  </div>
  </div>
  </form>

  {% endblock %}