{% extends '/admin/layout.html' %}

{% block content %}
<div class="row logo" id="section">
  <div class="col-md-6 col-lg-6 col-sm-6 m-auto">
    <div class="container ">
      <form id="form1" name="form1" method="post" action="/GetaddEmployee">
        <div class="form-group">
          <label for="" class="font-weight-bold" style="color: #632343;">Employee Name</label>
          <input type="text" class="form-control" name="ename" required placeholder="Enter Employee Name" ></input><br>

        <div class="form-group">
          <label for="" class="font-weight-bold" style="color: #632343;">E-Code</label>
          <input type="text" class="form-control" name="ecode" required id="" placeholder="Enter  Employee Code">
        </div>

        <label for="" class="font-weight-bold" style="color: #632343;">Department</label><br>
        <select class="form-select" aria-label="Default select example" name="Department">
          <option value="COO">&nbsp;Chief operating officer</option>
          <option value="DIR">&nbsp;Director</option>
          <option value="MNGR">&nbsp;Manager</option>
          <option value="ACC">&nbsp;Accounts</option>
          <option value="PUR">&nbsp;Purchase</option>
          <option value="CSH">&nbsp;Cashier</option>
          <option value="SAL">&nbsp;Salesman</option>
          <option value="MKT">&nbsp;Marketing</option>
          <option value="DSNR">&nbsp;Disigner</option>
          <option value="REC">&nbsp;Reception</option>
          <option value="OBY">&nbsp;Office Boy</option>
          <option value="SMT">&nbsp;Smith</option>
          <option value="CLN">&nbsp;Cleaning</option>
        </select>

        <button type="submit" class="btn  float-right" style="background-color:#632343;"> <span
            style="color: white;">Add Employee</span></button>
      </form>
    </div>
  </div>
  </form>

  {% endblock %}