<html lang="en">

<head>
  <meta charset="utf-8">
  {% if session['lid'] %}
  <title>Dubai gold and Diamond director</title>
  {% else %}
  <title>Dubai gold and Diamond manager</title>
  {% endif %}
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style_copy.css" rel="stylesheet">
  <link rel="icon" href="/static/bookmarkLogo.png" type="image/x-icon">
  <style type="">
    .img{
          background-image:url(../static/img/5.jpg) ;
          width: 100%;
           height: 260px;
           background-size: contain;
           background-color: black;
          background-repeat: no-repeat;
        }
</style>
</head>

<body>

  <!--==========================
        Header
      ============================-->
  <header id="header">
    <div class="container-fluid">
      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto" style="color: gold;">DUBAI GOLD AND DIAMOND</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          {% if session['lid'] %}
          <li class="menu"><a href="/admins">Home</a></li>
          <li ><a href="/addEmployee" >Add Employee</a></li>
          <li><a href="/ViewEmployee">view employee</a></li>
          <li><a href="/ViewReaqusetEmployee">view Leave request</a></li>
          <li><a href="/SetEmployeestarget">Set Target</a></li>
          <li><a href="/viewupdatetargetEmployees">update Target</a></li>
          <li><a href="logout" onclick="return confirm('Are you sure?')" role="button">logout</a></li>
          {% else %}
          <li class="menu"><a href="/admins">Home</a></li>
          <li><a href="/addEmployee">Add Employee</a></li>
          <li><a href="/ViewEmployee">view employee</a></li>
          <li><a href="/ViewReaqusetEmployee">view Leave request</a></li>
          <li><a href="/SetEmployeestarget">Set Target</a></li>
          <li><a href="/viewupdatetargetEmployees">update Target</a></li>
          <li><a href="/BranchEmployeePymentPage">Payment</a></li>
          <li><a href="logout" onclick="return confirm('Are you sure?')" role="button">logout</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header><!-- #header -->

  <!--==========================
        Intro Section
      ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators"></ol>
        <div class="carousel-inner" role="listbox">
          <div class=" active">
            <div class="carousel-background">
              <div class="img"></div>
            </div>
            <div class="carousel-container">
              <div class="carousel-content">
              </div>
            </div>
          </div>
        </div>
      </div>
  </section><!-- #intro -->

  <main id="main">
    <section id="featured-services">
      <div class="container">
      </div>
      </div>
    </section>

    <!--==========================
          About Us Section
        ============================-->
    <section id="about" class="logo">
      <div class="container">
        <div align="center">
          {% block content %} {% endblock %}
        </div>
      </div>
    </section><!-- #about -->
  </main>

  <!--==========================
        Footer
      ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>DUBAI GOLD</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="">DUBAI GOLD</a>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/lib/easing/easing.min.js"></script>
  <script src="../static/lib/superfish/hoverIntent.js"></script>
  <script src="../static/lib/superfish/superfish.min.js"></script>
  <script src="../static/lib/wow/wow.min.js"></script>
  <script src="../static/lib/waypoints/waypoints.min.js"></script>
  <script src="../static/lib/counterup/counterup.min.js"></script>
  <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../static/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="../static/lib/lightbox/js/lightbox.min.js"></script>
  <script src="../static/lib/touchSwipe/jquery.touchSwipe.min.js"></script>

  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../static/js/main.js"></script>

</body>

</html>