{% extends '/admin/layout.html' %}

{% block content %}
<div class="row">
  <div class="col-md-12 m-auto">
    <div class="container  ">
      <form action="/Search_branch" method="post">
        <label for="" class="font-weight-bold">Branch </label>
        <select class="form-select " aria-label="Default select example" name="branch">
          <option value="Valanchery">Valanchery</option>
          <option value="Ramanatukara">Ramanatukara</option>
          <option value="Perinthalmanna">Perinthalmanna</option>
          <option value="Pattambi">Pattambi</option>
        </select>
        <button type="submit" class="btn  btn-primary  "> <span style="color: white;">Search </span></button>

      </form>


      <table class="table mt-5 pt-5">
        <tr>
          <th scope="col" style="color: #632343;">Employee Name </th>
          <th scope="col" style="color: #632343;">E-Code</th>
          <th scope="col" style="color: #632343;">Branch </th>
        </tr>
        {% for i in val%}
        <tr>
          <td>&nbsp;{{i[1]}}</td>
          <td>&nbsp;{{i[2]}}</td>
          <td>&nbsp;{{i[3]}}</td>
          <td>&nbsp; <a href="/DeleteEmployee?id={{i[4]}}" class="btn btn-danger float-right mr-5">Remove Employee</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}