{% extends '/admin/layout.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-12 m-auto">
      <div class="container ">

        <form action="/Search_branch_SetTarget" method="post">
          <label for="" class="font-weight-bold">Branch </label>
          <select class="form-select " aria-label="Default select example" name="branch">
            <option value="Valanchery">Valanchery</option>
            <option value="Ramanatukara">Ramanatukara</option>
            <option value="Perinthalmanna">Perinthalmanna</option>
            <option value="Pattambi">Pattambi</option>
          </select>
          <button type="submit" class="btn  btn-primary  "> <span style="color: white;">Search </span></button>
        </form>

        <table class="table mt-5 pt-5">
          <tr>
            <th scope="col" style="color: #632343;">Employee Name </th>
            <th scope="col" style="color: #632343;">E-Code</th>
            <th scope="col" style="color: #632343;">Branch</th>
          </tr>
          {% for i in val%}
          <tr>
            <td>&nbsp;{{i[5]}}</td>
            <td>&nbsp;{{i[6]}}</td>
            <td>&nbsp;{{i[7]}}</td>
            <td>
              <a href="/SettargetEmployees?id={{i[8]}}" class="btn " style="background-color:#632343;"> <span
                  style="color: white;">Set Target</span></button>
            </td>
            
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  </div>
  {% endblock %}