{% extends '/admin/layout.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-6 m-auto">
      <div class="container ">

        <!-- <script>
          function  target_type(){
            var i= document.getElementById("type").selectedOptions[0].value;
            if(i =='GOLD'){
              document.getElementById("placeholder").placeholder = 'Grams';
            }else{
              document.getElementById("placeholder").placeholder = 'Amount';
            }

          }
        </script> -->

<form id="form1" name="form1" method="post" action="/GettargetEmployees">
  
                <h3 class="text-center font-weight-bold " style="color: #632343;">Set  Target</h3>
                
                
                <div class="form-group">
                  <label class="font-weight-bold" style="color: #632343;">Gold</label>
                    <input type="number" class="form-control" required name="Gold"  placeholder="Grams">
                </div>
                <div class="form-group">
                  <label class="font-weight-bold" style="color: #632343;">Diamond</label>
                    <input type="number" class="form-control" required name="Diamond"  placeholder="Amount">
                </div>
                <button type="submit" class="btn float-right" style="background-color:#632343;"> <span
                        style="color: white;">Set </span></button>
                        
</form>
</div>
</div>


{% endblock %}