{% extends '/admin/layout.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-6 m-auto">
      <div class="container ">
  <form id="form1" name="form1" method="post" action="/GetupdatetargetEmployees">

          <h3 class="text-center font-weight-bold " style="color: #632343;">Update Target</h3>
          <div class="form-group">
            <label class="font-weight-bold" style="color: #632343;">Gold (Grams)</label>
              <input type="text" class="form-control" required name="Gold"  value="{{val[6]}}">
          </div>
          <div class="form-group">
            <label class="font-weight-bold" style="color: #632343;">Diamond (₹)</label>
              <input type="text" class="form-control" required name="Diamond"  value="{{val[9]}}">
          </div>

          <button type="submit" class="btn float-right" style="background-color:#632343;"> <span
              style="color: white;">Update</span></button>
  </form>
  </div>
  </div>
  </form>

  {% endblock %}