{% extends '/employee/employee.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-6 m-auto">
      <div class="container mt-5 pt-5">
        <h2 class="text-center font-weight-bold pt-4" style="color: #632343;">Pyment</h2>
        <form action="/GetSearchPymentPage" method="post">
          <label for="" class="font-weight-bold" style="color: #632343;">employee name</label>
          <input type="text" class="form-control "required name="ename" placeholder="enter your name"></input><br>
          <label for="" class="font-weight-bold" style="color: #632343;">employee ecode</label>
          <input type="text" class="form-control " required name="ecode" placeholder="enter your name"></input><br>
          <label for="" class="font-weight-bold" style="color: #632343;">Branch</label><br>

          <select class="form-select" aria-label="Default select example" name="branch">
            {% for i in val%}
            <option value="{{i[3]}}">{{i[3]}}</option>
            {% endfor %}
          </select>

          <button type="submit" class="btn  float-right" style="background-color:#632343;"> <span
              style="color: white;">Submit</span></button>
        </form>
      </div>
    </div>
  </div>

  
  {% endblock %}