{% extends '/employee/layout.html' %}
{% block content %}
  <div class="row">
    <div class="col-md-6 m-auto">
      <div class="container ">
        <form action="/GetSearchViewPayment" method="post">
          <label for="" class="font-weight-bold" style="color: #632343;">Employee Name</label>
          <input type="text" class="form-control " name="ename" required placeholder="Enter Your Name"id="employee" onkeyup="suggest(this.value);"  onblur="fill();"></input><br>
          <div class="suggestionsBox" id="suggestions">
            <div class="suggestionList" id="suggestionsList">   </div>
         </div>
          <label for="" class="font-weight-bold" style="color: #632343;">E-Code</label>
          <input type="text" class="form-control " name="ecode" required placeholder="Enter Your Employee Code"></input><br>
          
          <label for="" class="font-weight-bold">Department</label><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select class="form-select center "  name="department">

            <option value="ACC">&nbsp;Accounts</option>
            <option value="PUR">&nbsp;Purchase</option>
            <option value="CSH">&nbsp;Cashier</option>
            <option value="SAL">&nbsp;Salesman</option>
            <option value="MKT">&nbsp;Marketing</option>
            <option value="DSNR">&nbsp;Disigner</option>
            <option value="REC">&nbsp;Reception</option>
            <option value="OBY">&nbsp;Office Boy</option>
            <option value="SMT">&nbsp;Smith</option>
            <option value="CLN">&nbsp;Cleaning</option>
          </select>

          <button type="submit" class="btn  float-right" style="background-color:#632343;"> <span
              style="color: white;">Submit</span></button>
        </form>
      </div>
    </div>
  </div>
 
  {% endblock %}