{% extends '/employee/layout.html' %}
{% block content %}
  <div class="row">
    <div class="col-md-12 m-auto">
      <div class="container ">
        <h2 class="text-center font-weight-bold" style="color: #632343;">Pyment Status</h2>
        <form action="">

          <ul class="list-group mt-5 pt-5">

            <li class="list-group-item"> <span class="text-center font-weight-bold" style="color: #632343;">Employee
                Name : </span> {{val[1]}}</li>
            <li class="list-group-item"><span class="text-center font-weight-bold" style="color: #632343;">Employee
                Ecode : </span>{{val[2]}}</li>
            <li class="list-group-item"><span class="text-center font-weight-bold" style="color: #632343;">Employee
                branch :</span> {{val[3]}}</li>
            <li class="list-group-item"><span class="text-center font-weight-bold" style="color: #632343;">catogary :</span>
              {{val[6]}}</li>
            <li class="list-group-item"><span class="text-center font-weight-bold" style="color: #632343;">pyment 
                :</span> {{val[7]}}</li>
            <li class="list-group-item"><span class="text-center font-weight-bold" style="color: #632343;">pyment Status
                : </span>{{val[9]}}</li>

          </ul><br>
          <input type="button" id="create_pdf" onclick="window.print();" value="Generate PDF"
            class="btn btn-primary float-right">
        </form>

      </div>
    </div>

    {% endblock %}