{% extends '/employee/layout.html' %}
{% block content %}
  <div class="row">
    <div class="col-md-12 m-auto">
      <div class="container ">

        <ul class="list-group mt-5 ">

          <li class="list-group-item"> <span class="text-center font-weight-bold" style="color: #632343;">Employee Name
              : </span> {{val[1]}}</li>
          <li class="list-group-item"><span class="text-center font-weight-bold" style="color: #632343;">Employee Ecode
              : </span>{{val[2]}}</li>
          <li class="list-group-item"><span class="text-center font-weight-bold" style="color: #632343;">Employee branch
              :</span> {{val[3]}}</li>
          <li class="list-group-item"><span class="text-center font-weight-bold" style="color: #632343;">Employee Target
              : </span>{{val[6]}}</li>
              <li class="list-group-item"><span class="text-center font-weight-bold" style="color: #632343;">Employee Achive Target
                : </span>{{val[8]}}</li>

        </ul>

      </div>
    </div>
    </form>

    {% endblock %}