{% extends '/employee/employee.html' %}

{% block content %}

  <div class="row">
    <div class="col-md-6 m-auto">
      <div class="container mt-5 pt-5">
        <h2 class="text-center font-weight-bold pt-4" style="color: #632343;">Employee Target</h2>

        <ul class="list-group mt-5 ">

          <li class="list-group-item"> <span class="text-center font-weight-bold" style="color: #632343;">Employee Name
              : </span> {{val[1]}}</li>
          <li class="list-group-item"><span class="text-center font-weight-bold" style="color: #632343;">Employee Ecode
              : </span>{{val[2]}}</li>
          <li class="list-group-item"><span class="text-center font-weight-bold" style="color: #632343;">Employee branch
              :</span> {{val[3]}}</li>
          <li class="list-group-item"><span class="text-center font-weight-bold" style="color: #632343;">Employee Target
              : </span>{{val[6]}}</li>
              <li class="list-group-item"><span class="text-center font-weight-bold" style="color: #632343;">Employee Achive Target
                : </span>{{val[8]}}</li>

        </ul>

      </div>
    </div>
    </form>

    {% endblock %}